.title {
  font-family: 'Reko';
  font-size: 28px;
  padding-left: 15px;
  box-shadow: 0 5px 5px -5px #333;
  display: flex;
  height: 60px;
  margin-bottom: 0px;
  align-items: center;
  position: relative;
  z-index: 1;
}